
/*universal styles*/
html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #3D3D3D;
}
body{
  background-color: #C1DFF0;
}
h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
}

h1{
  font-size: 2.75rem;
  font-weight: 700;
}
h2{
  font-size: 2rem;
  font-weight: 700;
  color: #3D3D3D;
}
h3{
  font-size: 1.5rem;
  font-weight: 300;
}


/*header*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  height: 4rem;
  align-items: center;
  z-index: 6000;
  background-color: #0EB1D2;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
}

.heading p {
  color: #F4F3EE;
}

.heading span {
  color: #3D3D3D;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.navigate ul {
  display: flex;
}

.navigate li {
  margin-right: 1rem;
  padding: 0.5rem 0;
  border-radius: 5px;
  transition: all ease-in-out 300ms;
  color: #F4F3EE;
  min-width: 7rem;
  text-align: center;
}

.navigate li:hover {
  background-color: #2F4858;
}

.phone-content {
  display: none;
}


/*main-content*/
.main-content {
  z-index: 500;
  position: relative;
  margin: 0 auto;
  top: 4rem;
}

.container60 {
  width: 60%;
  overflow: hidden;
  padding-right: 1.5rem;
}

.container60 img {
  max-width: 100%;
  height: auto;
}

.container40{
  width: 40%;
}


/*top section*/
.top {
  display: flex;
  padding: 0 1.5rem;
  width: 100%;
  height: 100vh;
  align-items: center;
  position: relative;
  z-index: 50;
}

.button-text h1 {
 color: #F4F3EE;
}

.button-text h3 {
  padding: 2rem 0;
  line-height: 2rem;
  color: #4D4F54;
}

.button a {
  color: #F4F3EE;
}

.button p {
  margin: auto;
  text-align: center;
  padding: 1rem;
  width: 80%;
  background-color: #2F4858;
  color: #F4F3EE;
  transition: all ease-in-out 400ms;
}

.button p:hover {
  transform: translate(0px, -10px);
}


/*middle section*/
.middle {
  display: flex;
  position: relative;
  z-index: 40;
  padding: 2rem 1.5rem;
  width: 100%;
  background-color: #F4F3EE;
}

.middlebox-info h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.middlebox-info p {
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
}

/*.container60-content{
  display: flex;
  transition:  all 750ms ease-in-out;
  align-items: center;
}*/

.container40-box {
  display: flex;
  transition:  all 750ms ease-in-out;
  align-items: center;
}

.container40-image {
  width: 35%;
  overflow: hidden;
  padding: 0.5rem;
}

.container40-image img {
  max-width: 100%;
  height: auto;
}

.container40-text {
  width: 65%;
}

.container40-text h3 {
  margin-bottom: 1rem;
}

.container40-text a {
  color: #C1DFF0;
  font-weight: 700;
}

.container40-description {
  margin-bottom: 1rem;
}

 .container40-box:hover {
  background-color: #2F4858;
  color: #F4F3EE;
}

.container40-mobile {
   display: none;
}


/*course section*/
.courses {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 30;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.courses h3  {
  padding-bottom: 1rem;
}

.courses p {

}

.title-2 h2 {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 2rem 4.5rem;
}

.coursebox{
  width: 25%;
  overflow: hidden;
  background-color: #F4F3EE;
  text-align: left;
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.coursebox-image img{
  max-width: 100%;
  height: auto;
}

.coursebox-text{
  padding: 1rem;
}

.mobile-navigation {
  display: none;
}


/*thesis section*/
.thesis {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #F4F3EE;
  /*margin-bottom: 2rem;*/
  position: relative;
  z-index: 20;
}

.thesis-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #4D4F54;
}

.thesis-content {
  display: flex;
}

.video-container {
  width: 60%;
  display: block;
  padding-left: 1.5rem;
  margin-right: 1.5rem;
}

.video-wrapper {
  overflow: hidden;
  width: 100%;
  padding-bottom: 1.5rem;
}

.video-wrapper video {
  max-width: 100%;
  height: auto;
}

.video-text h3 {
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.video-text p {
  line-height: 1.5rem;
}


/*footer*/
footer {
  /*position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;*/
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: #F4F3EE;
  border-top: .25px solid #3D3D3D;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #0EB1D2;
}

.copyright {
  display: flex;
}

 .copyright p {
   padding-left: 1.5rem;
   margin-right: 1.5rem;
 }

 .terms{
   display: flex;
   justify-content: space-between;
 }

 .terms p {
   margin-right: 1.5rem;
 }


/*MOBILE VERISONS*/

@media only screen and (max-width: 690px) {

  /*header moblie version*/
  .title, .navigation {
    display: none;
  }
  .phone-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-content: center;
  }
  .logo-one, .logo-two, .logo-three, .logo-four {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*top section moblie version*/
  .top {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .top .container60 {
    width: 100%;
    padding: 0;
  }
  .top .container40 {
    margin-top: 2rem;
    width: 100%;
    padding-left: 1rem
  }
  .button-text h2 {
   line-height: 3rem;
  }
  .button {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /*middle section moblie version*/
  .middle {
    padding: 1rem 0;
  }
  .middle .container60 {
    display: none;
  }
  .middle .container40 {
    width: 100%;
  }
  .middle .container40-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;
  }
  .middle .container40-image {
    width: 100%;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
  }
  .middle .container40-desktop {
    display: none;
  }
  .middle .container40-text {
    width: 100%;
  }
  .middle .container40-text h3 {
    padding-left: 2rem;
  }
  .middle .container40-text a{
    padding-left: 2rem;
  }
  .middle .container40-description {
    padding-left: 2rem;
  }
  .middle .container40-mobile {
   display: flex;
   max-width: 100%;
   height: auto;
  }


  /*course section moblie version*/
  .courses {
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
  .course-container {
    display: none;
  }
  .courses .mobile-navigation {
    display: block;
    width: 100%;
  }
  .courses .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .courses .list li {
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #2F4858;
    color: #F4F3EE;
    width: 85%;
  }
  .courses .list li:active{
    background-color: gray;
  }
  .courses .title-2 h2 {
    margin-bottom: 1rem;
  }


  /*thesis section moblie version*/
  .thesis {
    padding: 0;
  }
  .thesis .container40 {
    display: none;
  }
  .video-text {
    display: none;
  }
  .video-wrapper {
    padding-bottom: 1.5rem;
  }
  .video-container {
    width: 100%;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .thesis-text {
    font-size: 2rem;
    padding-bottom: 1rem;
  }


  /*footer moblie version*/
  footer {
     padding: 1rem;
     border-top: 0;
  }
  .footer {
    width: 100%;
  }
  .terms {
    display: none;
  }

}
